.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-width: 70px;
  color: aliceblue;
  border-style: ridge;
  border-color: black; 
}

